In [1]:
import pandas as pd

In [3]:
df = pd.read_excel("load.xlsx")

In [4]:
df.columns

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       350, 351, 352, 353, 354, 355, 356, 357, 358, 359],
      dtype='int64', length=360)

In [7]:
data = []
for col in df.columns:
    data_day = df[col].to_list()
    data.extend(data_day)

In [13]:
times = pd.date_range(start="2022-01-01", periods=len(data), freq="h")

In [19]:
df_new = pd.DataFrame({"Time": times, "Power(kW)": data})
df_new

                    Time  Power(kW)
0    2022-01-01 00:00:00      12.81
1    2022-01-01 01:00:00      10.10
2    2022-01-01 02:00:00      12.10
3    2022-01-01 03:00:00      12.64
4    2022-01-01 04:00:00      15.95
...                  ...        ...
8635 2022-12-26 19:00:00      25.97
8636 2022-12-26 20:00:00      16.00
8637 2022-12-26 21:00:00      13.85
8638 2022-12-26 22:00:00      14.51
8639 2022-12-26 23:00:00      11.43

[8640 rows x 2 columns]

In [20]:
df_new.to_csv("load_adj.csv")